*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Spline Sans", serif;
}

.main-section{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
/* .toggle-button{
        cursor: pointer;
        border-radius: 4px;
    width: 30px;
    height: 30px;
} */

.section-one{
    position: relative;
    top:-19px;
    left: -25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 28px 250px 54px;
    background-color: white;
    /* width: 20%; */
    width: 371px;
    height: 1203px;
    transition: width 0.3s ease-in-out;
}
.section-one.collapsed {
    width: 0;
    padding: 0; 
    overflow: hidden; 
  }

.section-two{
    display: flex;
    flex-direction: column;
    gap: 34px;
    box-sizing: border-box;
    padding: 30px 80px 0px 80px;
    background-color: #F3F2F1;
    width: 100%;
}


.upper-area{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.upper-area-one figure{
    height: 31.87px;
    width: 108px;
}

.upper-area-one img{
    height: 100%;
    width: 100%;
}

.heading_01{
    color: #1F4451;
    font-size: 1.5rem;
}

.container1{
    padding: 14px;
    display: flex;
    border: 0.5px solid #B5BDCD;
    border-radius: 5px;
    align-items: center;
    height: 69px;
    width: 286px;
    gap: 12px;
}

.container1 figure{
    align-self: center;
    height: 19px;
    width: 19px;
}

.container1 img{
    height: 100%;
    width: 100%;
}



.icon-name{
    border-radius: 5px;
    padding: 12.5px 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(145, 145, 145);
    font-size: 16px;
}

.icon-name.active{
    background-color: rgba(91, 199, 91, 0.5);
    color: #1F4451;
}



.lower-area h3{
    font-size: 24px;
    color: #1F4451;
    padding-top: 19px;
    padding-bottom: 9px;
}

.lower-area p{
    font-size: 16px;
    color:  #626D82;
    padding-bottom: 16px;
}

.button{
    border: none;
    width: 97px;
    height: 34px;
    background-color: #1F4451;
    border-radius: 5px;
    font-size: 12px;
    color: white;
}





/* Section_02 */

.section21{
    display: flex;
    align-items: center;
    gap: 14px;
}


.section21 p{
    font-weight: 400;
    color: #436D7C;
    line-height: 22.4px;
}

.section21 .ppp{
    opacity: 0.65;
}

.section22{
    display: flex;
    justify-content: space-between;
}

.section22 h2{
    font-weight: 600;
    font-size: 33px;
    line-height: 45px
}

.section22 input{
    height: 47px;
    width: 307px;
    border: 0.5px solid #B5BDCD;
    padding-left: 15px;
    font-size: 16px;
    text-emphasis-color: #B5BDCD;
}

.search-section{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    border: 1px solid blue;
}

.search-section input{
    /* align-self: center; */
    border: none;
}

.search-icon{
    position: relative;
    top: -30px;
    left: 274px;
}




.section23{
    /* text-size-adjust: 33px; */
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    border: 0.5px solid #B5BDCD;
    /* padding: 0.5rem; */
}

.heading-first{
    color: #2A2A2A;
    font-size: 16px;
    padding: 0.7rem 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #B5BDCD;
    align-items: center;
}

.heading-first input{
    opacity: 0.75;
    /* margin-right: 0.25rem; */
}

.normal-line{
    padding: 0.7rem 1rem;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #B5BDCD;
    align-items: center;
    color: rgb(37, 37, 97);
}


.button2{
    width: fit-content;
    
    border: none;
    background-color:#D3F7B5;
    /* padding:5px 10px; */
    border-radius: 20px;
}

.normal-div{
    color:  #436D7C;
    font-size: 16px;
    display: flex;
}

.normal-div h3{
    padding-left: 1rem;
    padding-right: 5rem;
}


.last-area{
    display: flex;
    justify-content: space-between;
}

.time-section{
    display: flex;
    color: #626D82;
    font-weight: 500;
    flex-direction: column;
    line-height: normal;
    padding-top: 24px;
}

.button-menu-section{
    display: flex;
    align-self: center;
    align-items: center;
}
.button-menu-section figure{    
    height: 89px;
    /* width: 24px; */
    padding:10px 15px;
    align-self: center;
}

.button-menu-section figure img{
    padding: 0px;
}

.profileform input[type="text"],
.profileform input[type="file"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;  
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button3{
    border-radius: 5px;
    /* padding: 0.25rem 1rem; */
    width: 134px;
    height: 34px;
    background: #FFFFFF;
    color: #626D82;
    border: 1px solid #B5BDCD
}

/* .darkgrey{
    margin-right: 7.5rem;
    color: white;
    background: #436D7C;
}

.grey{
    margin-right: 10rem;
    color: #626D82;
    background: #E8ECF1;
}

.green{
    margin-right: 9rem;
    color: #1F4451;
    background: #D3F7B5;
} */



.darkgrey{
    color: white;
    background: #436D7C;
}

.grey{
    color: #626D82;
    background: #E8ECF1;
}

.green{
    color: #1F4451;
    background: #D3F7B5;
}

.column-line{
    /* color: white; */
    display: flex;
    flex-direction: column;
}

.column-line .button2{
    width: fit-content;
}



.table{
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    /* border: 1px solid #B5BDCD; */
    border-radius: 7.5px;
}

.table th,td{
    text-align: start;
    border-bottom: 1px solid #B5BDCD;
    /* border:1px solid black; */
    /* padding: 7.5px 0px; */
}

td{
    text-align: start;
}

.table th{
    line-height: 56px;
}

.table tr{
    line-height: 86px;
}

.table td.noborder {
    border:none;
}


.text{  

    color: #436D7C;
    font-weight: 600;
    font-size: 16px;
    padding-left: 5px;
    line-height: normal;
    padding-top: 24px;
    padding-bottom: 19px;
}
.statusline{
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; 
        align-items: center;  */
        gap: 5px;
        padding: 0; 
        margin: 0;
        height: 100%;
        text-align: center;
        line-height: 1;
}

.lastmodified {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    gap: 5px;
    padding: 0; 
    margin: 0;
    height: 100%;
    text-align: center;
    line-height: 1;
}
.checkboxclass{
    margin-left: 28px;
    /* display: flex; */
    /* align-items: center; */
    /* padding-left: 28px; */
    /* gap: 5px; */
}
.profilerow{
    display: flex;
    justify-content: space-between;
}

.profileform{
    display: none;
    position: fixed;
    top: 2%;
    left: 80%;
    width: 200px;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
}
.profileform button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  #close-form {
    background-color: red;
    color: white;
  }
  .profileformcontent{
    display: flex;
    flex-direction: column;
  }
  /* .deleterow{
    width: 20px;
    height: 20px;
  } */
